.main-wrapper-ueber-mich {
	width: calc(100% - 20px);
	background-color: $background-color;
	padding: 0 10px;

	.ueber-mich {
	max-width: 1200px;
	margin: auto;
	
	@media (max-width: $bp-m) {
		padding-top: 36px;
		padding-bottom: 36px;
	}

		.content {
		margin: auto;
		height: auto;
		position: relative;
		min-height: 480px;

		@media (max-width: $bp-l) {
			min-height: 440px;
		}

			.group-left {
			position: absolute;
			width: 30%;
			margin-right: 6%;
			bottom: 0;
			left: 0;

				@media (max-width: $bp-l) {
					top: 50%;
    				transform: translateY(-50%);
				}

				@media (max-width: $bp-m) {
					width: 100%;
					max-width: 180px;
					margin: 0 auto 36px auto;
					transform: none;
					position: relative;
				}

				.profilbild {
					margin-top: 100px;

					@media (max-width: $bp-l) {
						display: none;
					}

					img {
						width: 100%;
						height: auto;	
						margin-bottom: -4px;
					}

				}

				.profilbild-circle {
					border-radius: 50%;
					width: 180px;
					height: 180px;
					-moz-border-radius: 50%; 
    				-webkit-border-radius: 50%; 
					overflow: hidden;
    				border: 1px solid #dfdfdf;
					background-color: #ffffff;
					display: none;

					@media (max-width: $bp-l) {
						display: block;
					}

					img {
						width: 100%;
						height: auto;
						margin-bottom: -5px;
					}
				}
			}

			.group-right {
			width: 64%;
			position: absolute;
			top: 50%;
    		transform: translateY(-50%);
			right: 0;

				@media (max-width: $bp-m) {
					width: 100%;
					bottom: 20%;
					transform: none;
					position: relative;
				}


				.ueber-mich-subheadline {

					.subheadline {
					text-align: left;
					width: 100%;
					margin-top: 0;

						@media (max-width: $bp-m) {
							text-align: center;
						}
					}
				}

				.ueber-mich-text {
				width: 100%;
				float: left;
				height: auto;

					@media (max-width: $bp-m) {
						float: none;
					}

					p {
					margin-top: 0;
					margin-bottom: 0;

						@media (max-width: $bp-m) {
							text-align: center;
						}
					}
				}

				.button-wrapper {
					width: 100%;
					float: left;
					max-width: 1200px;

					@media (max-width: $bp-m) {
						text-align: center;
						margin-top: 30px;
						float: none;
					}

					.button {
						border: 2px solid transparent;
						border-color: #006e8f;
						color: #006e8f;
						transition: all 0.3s ease 0s;

						@media (max-width: $bp-m) {
							margin: auto;
						}

						&:hover {
							background-image: linear-gradient(-135deg, #006e8f, #00a1c1);
							color: #ffffff;
						}
					}
				}
			}
		}
	}
}